<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>All posts</title>
</head>
<body>

<h2 class="text-center w-100 p-3 font-weight-light">Previous posts on the Notice Board</h2>
<table class="text-left mx-auto w-75 p-3 font-weight-light">
    <thead>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Published by</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${allposts}">
        <td class="text-left" th:text="${post.postTitle}">Title</td>
        <td class="text-left" th:text="${post.publishedOn}">Published</td>
        <td class="text-left" th:text="${userEntity.userId}">Published by</td>

        <td>

            <button th:onclick="|deleteSpecificPost('${post.id}')|">Delete</button>

            <a th:href="@{/edit-view/{id}(id=${post.id})}"><button>View and edit</button> </a>
            <!--
            <a th:href="@{/reply-view/{id}(id=${reply.replyid})}"><button>Reply to post</button></a>
            -->

        </td>
    </tr>


    </td>
    </tr>
    </tbody>
</table><br>

<div class="text-center w-100 p-3 font-weight-light">
    <form th:action="@{/add-post}">
        <button class="btn btn-outline-dark my-2 my-sm-0 nav-item" type="submit">Write a new post</button>
    </form>
</div>


</body>

<script>
    function deleteSpecificPost(id){

        let url = "/delete/" + id;
        document.location.reload(true);

        fetch(url, {
            method : "DELETE",
            headers: {
                'Content-Type': 'application/json'
            }
        });
    }</script>

</html>